body {
    background-color: coral;
}

h1 {
    text-align: center;
}



.col-md-5 {
    text-align: center;
}

.col-md-2 {
    text-align: center;
    font-size: 24px;
}

.row {
    width: 70%;
    margin: 50px auto;
}

.col-md-4{
    text-align: center;
}

.btn {
    background-color: slategrey;
    color: white;
}


.panel {
    background-color:  slategrey;
}

.player-image {
    width: 400px;
    height: 400px;
    text-align: center;
}

.panel-title {
    font-size: 38px;
}

.points {
    font-size: 36px;
}

.badge-image {
    width: 100px;
    height: 100px;
}

.badges-holder {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.winner-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner {
    font-size: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}